<div class="panel panel-default">
    <div class="panel-heading">Создание квеста</div>
    <div class="panel-body">
        <p>
            Вы собираетесь создать новый квест!
        </p>
        <form class="form-horizontal" id="quest-create-form">
            <div class="form-group">
                <label for="quest-create-name" class="col-lg-3 control-label">Введите название квеста:</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control" name="name" id="quest-create-name" placeholder="Название">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-9 col-lg-offset-3">
                    <button type="submit" id="quest-create-submit" class="btn btn-success">Создать</button>
                </div>
            </div>
        </form>
    </div>
</div>