.wrap {
	max-width: 1280px;
	margin: auto;
}

.block {
	border: 1px solid #1d61dc;
    float: left;
    background: black;
    color: white;
}
    
    .block.text, .block.answers {
		width: 60%;
	}

    .block.picture, .block.info {
        min-width: 300px;
        float: right;
    }

    .block.answers {
        clear: both;
        padding: 5px 0;
    }
	
		.block.answers a.answer {
			display: block;
			text-decoration: none;
			padding: 3px;
			color: #505050;
		}
		.block.answers a.answer.active {
			color: white;
		}
		.block.answers a.answer:hover {
			color: #1d61dc;
			background-color: #101010;
		}
		.block.answers a.answer.active:hover {
			background-color: #1B1B1B;
		}

        .block.picture img {
            max-width: 300px;
        
        }

        .block.text .gray {
            color: gray;
        }
        .block.text>* {
            margin-left: 5px;
            margin-right: 5px;
        }
    
p#questinfo {
    clear:both;
}