body {
  background: url('../../img/back.png') #000000;
  color: #b8b8b8;
}
a {
  color: #008d84;
}
a:hover,
a:active,
a:focus {
  color: #00a69c;
  text-decoration: underline;
}
:focus {
  outline: none !important;
}
.btn,
.form-control,
.dropdown-menu,
.container .jumbotron,
.breadcrumb,
.form-group-sm .form-control,
.form-group-lg .form-control,
.cbx {
  border-radius: 0 !important;
}
.btn,
.form-control,
.navbar-inverse .navbar-nav > li > a,
.navbar-nav > li > .dropdown-menu > li > a,
.navbar .navbar-header a,
.jumbotron {
  transition-property: color, background-color, border-color, box-shadow;
  transition-timing-function: ease;
  transition-duration: 0.3s;
}
.btn,
.breadcrumb {
  background: transparent;
}
.btn:active {
  box-shadow: none;
}
.btn-default {
  color: white;
  border-color: rgba(255, 255, 255, 0.3);
}
.btn-default:hover,
.btn-default:active,
.btn-default:focus {
  border-color: transparent;
  background: rgba(255, 255, 255, 0.3);
  color: white;
}
.btn-default:active:hover,
.btn-default.active:hover,
.btn-default:focus:hover,
.btn-default.active:focus,
.btn-default:active:focus {
  border-color: rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.4);
  color: white;
}
.btn-primary {
  color: white;
  border-color: rgba(0, 92, 186, 0.3);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  border-color: transparent;
  background: rgba(0, 92, 186, 0.5);
  color: white;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary:focus:hover,
.btn-primary.active:focus,
.btn-primary:active:focus {
  border-color: rgba(0, 92, 186, 0.6);
  background: rgba(0, 92, 186, 0.6);
  color: white;
}
.btn-success {
  color: white;
  border-color: rgba(92, 184, 92, 0.3);
}
.btn-success:hover,
.btn-success:active,
.btn-success:focus {
  border-color: transparent;
  background: rgba(92, 184, 92, 0.3);
  color: white;
}
.btn-success:active:hover,
.btn-success.active:hover,
.btn-success:focus:hover,
.btn-success.active:focus,
.btn-success:active:focus {
  border-color: rgba(92, 184, 92, 0.4);
  background: rgba(92, 184, 92, 0.4);
  color: white;
}
.btn-danger {
  color: #d9534f;
}
.btn-warning {
  color: #f0ad4e;
}
.btn-info {
  color: #5bc0de;
}
.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
  margin-left: 0;
}
.form-control,
.cbx {
  border-radius: 0;
  background: transparent;
  color: white;
  border-color: rgba(255, 255, 255, 0.5);
}
.form-control:hover,
.cbx-active:hover {
  border-color: rgba(255, 255, 255, 0.7);
  box-shadow: none;
}
.form-control:focus,
.cbx-active:focus {
  border-color: rgba(0, 166, 156, 0.9);
  box-shadow: none;
}
.checkbox label {
  padding-left: 0px;
}
input[type="checkbox"],
input[type="radio"] {
  display: none;
}
input[type="checkbox"] + label > i.fa,
input[type="radio"] + label > i.fa {
  width: 1em;
  text-align: left;
}
input[type="checkbox"] + label > i.fa:before,
label > input[type="checkbox"] + i.fa:before {
  content: "\f046";
  color: white;
}
input[type="checkbox"]:checked + label > i.fa:before,
label > input[type="checkbox"]:checked + i.fa:before {
  content: "\f096";
}
input[type="radio"] + label > i.fa:before,
label > input[type="radio"] + i.fa:before {
  content: "\f10c";
  color: white;
}
input[type="radio"]:checked + label > i.fa:before,
label > input[type="radio"]:checked + i.fa:before {
  content: "\f192";
}
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 15px;
}
.navbar-inverse {
  background-color: #000;
  border-color: #002724;
}
.navbar-inverse .navbar-nav > li > a,
.navbar .navbar-header a {
  border-top: 5px solid transparent;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:active,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar .navbar-header a:hover,
.navbar .navbar-header a:active,
.navbar .navbar-header a:focus {
  color: #ffffff;
  background-color: #000000;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a,
.navbar .navbar-header a:hover,
.navbar-inverse .navbar-nav > .open > a {
  border-top-color: #00a69c;
  background-color: #001c1b;
}
.navbar .navbar-nav > li > a {
  font-size: larger;
}
.navbar .navbar-header a {
  font-size: x-large;
}
.navbar-brand {
  padding: 10px 10px;
}
.navbar-nav > li > .dropdown-menu {
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #002724;
  border-top-color: #000000;
}
.navbar-nav > li > .dropdown-menu > li > a {
  border-left: 5px solid transparent;
  color: white;
}
.navbar-nav > li > .dropdown-menu > li.active > a {
  background-color: rgba(0, 166, 156, 0.25);
  border-left-color: rgba(0, 166, 156, 0.8);
}
.navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-nav > li > .dropdown-menu > li > a:active,
.navbar-nav > li > .dropdown-menu > li > a:focus,
.navbar-nav > li > .dropdown-menu > li.active > a:hover,
.navbar-nav > li > .dropdown-menu > li.active > a:active,
.navbar-nav > li > .dropdown-menu > li.active > a:focus {
  border-left-color: #00a69c;
  background-color: rgba(0, 166, 156, 0.5);
}
.navbar-nav > li > .dropdown-menu .divider {
  background-color: #002724;
}
.nav .fa,
.dropdown-menu .fa,
.btn .fa {
  margin-right: 0.4em;
}
.jumbotron {
  background: #000;
  border: 1px solid rgba(0, 166, 156, 0.5);
}
.jumbotron:hover {
  box-shadow: inset 0 0 70px rgba(0, 166, 156, 0.7);
  border: 1px solid rgba(0, 166, 156, 0.7);
  background: rgba(0, 166, 156, 0.1);
}
.panel {
  background-color: #000;
  color: white;
  border-radius: 0px;
  border-color: #2e599f;
}
.panel .panel-heading {
  border-color: #2e599f;
  border-radius: 0px;
}
.panel .panel-body,
.panel.panel-default .panel-heading,
.panel.panel-default .panel-footer {
  background-color: transparent;
}
.panel.panel-default .panel-heading {
  color: white;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: none;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #696969;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: rgba(16, 68, 132, 0.2);
}
.breadcrumb > li + li:before {
  content: "»\00a0";
}
.alert {
  border-radius: 0px;
}
.alert-danger {
  background-color: #2D0000;
  border-color: #a94442;
}
.alert-warning {
  background-color: #231D00;
  border-color: #8a6d3b;
}
.alert-success {
  background-color: #0A2300;
  border-color: #3c763d;
}
.alert-info {
  background-color: #001926;
  border-color: #31708f;
}
.table > tbody > .row-vtop > * {
  vertical-align: top;
}
.table > tbody > .row-vmiddle > * {
  vertical-align: middle;
}
.table > tbody > .row-vbottom > * {
  vertical-align: bottom;
}
.pagination {
  border-radius: 0px;
}
.pagination > li > span,
.pagination > li > a {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  background: transparent;
  border-color: #696969 !important;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background: rgba(16, 68, 132, 0.2);
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background: #1263E2;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  background: transparent;
}
.modal-content {
  border-radius: 0;
  background-color: #101010;
  border: 1px solid rgba(46, 89, 159, 0.5);
  box-shadow: 0 0 20px rgba(46, 89, 159, 0.5);
}
.modal-footer {
  border-top: 1px solid rgba(184, 184, 184, 0.5);
}
.close,
.close:hover {
  color: #B8B8B8;
}
.modal-backdrop.in {
  opacity: .2;
}
@media (min-width: 768px) {
  .modal-dialog {
    margin: 170px auto;
  }
}
.tooltip.in > .tooltip-inner {
  border: 1px solid rgba(46, 89, 159, 0.5);
  box-shadow: 0 0 20px rgba(46, 89, 159, 0.5);
  border-radius: 0;
}
