body {
    background: url('../../img/back.png') black;
    color: #eee;
}

.btn {
    border-radius: 0;
    background: transparent;
    color: white;
}

.form-control {
    border-radius: 0;
    background: black;
}